apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: "sops-age"
spec:
  # The name to be used on the ExternalSecrets
  externalSecretName: "sops-age-es"
  namespaceSelectors:
  - matchLabels:
      decrypt.homelab.local/type: sops
  refreshTime: "1h" #Cluster External Secret refresh Time
  externalSecretSpec:
    secretStoreRef:
      name: sops-store
      kind: ClusterSecretStore
    refreshInterval: "10m" #External Secret Refresh Time
    target:
      name: sops-age
      creationPolicy: 'Owner'
    dataFrom:
      - extract: 
          key: sops-age