apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  interval: 30m
  releaseName: monitoring
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
      interval: 30m
  targetNamespace: monitoring
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  valuesFrom:
    - kind: ConfigMap
      name: general-values
      valuesKey: general.yaml
