---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: home-assistant
  interval: 30m
  timeout: 15m
  values:
    controllers:
      home-assistant:
        pod:
          securityContext:
            fsGroup: 65533
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 65533
            runAsUser: 65534
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.1
            env:
              TZ: Europe/Berlin
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
        initContainers:
          hass-config:
            image:
              repository: busybox
              tag: 1.36.1
            command: [ "/bin/sh", "-c", "if [[ ! -e /config/configuration.yaml ]]; then echo Moving the custom configuration in the PVC ; cp /tmp/config/configuration.yaml /config/configuration.yaml || exit 1; echo Configuration moved successfully ; fi ; echo Configuration file already in place ; exit 0" ]
          hacs-config:
            image:
              repository: bash
              tag: 5.3.3
            command: [ "bash", "-c", "cd /config && wget -O - https://get.hacs.xyz | bash -" ]
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: 8123
        primary: true
    persistence:
      custom-config:
        enabled: true
        type: configMap
        name: hass-config
        globalMounts:
          - path: /tmp/config
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/.venv
      tmp:
        type: emptyDir
    ingress:
      home-assistant:
        enabled: true
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: "homelab-ca-issuer"
        hosts:
          - host: hass.homelab.local
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
            - hass.homelab.local
            secretName: hass-internal-tls